.bg-about
{
    background-color: rgb(245, 199, 73);
    background-position: center center;
    background-size: cover;
    width: 100%;   
}

.inputForm
{
    border-radius: 10px;
}
.image-contact
{
    box-shadow: -5px 2px 54px -9px rgb(211, 167, 22);
    border-radius: 10px;
    overflow: hidden;
}
